.player-info {

  background-color: cornflowerblue;

  display: flex;
  flex-direction: column;

  &__name {
    margin: 50px auto;
    width: min-content;

    color: #000000;
    font-family: "Druk Text Cy", Helvetica, sans-serif;
    font-size: 70px;
    line-height: 65px;
    text-transform: uppercase;
    white-space: pre-wrap;
    letter-spacing: -2px;
  }

  &__about-container {
    display: flex;
    flex-direction: row;
  }

  &__about {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    line-height: 38px;
  }

  &__mark {
    color: #000000;
    opacity: 0.35;

    font-family: GraphikLC, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
    text-decoration-color: rgba(0, 0, 0, 0.35);
    text-decoration-line: none;
    text-decoration-style: solid;
    white-space: normal;
  }

  &__price-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;

    margin-top: 40px;
    line-height: 200px;
  }

  &__euro {
    margin: 0;

    color: #19c0f5;

    font-family: PUNCTUATION, Helvetica, sans-serif;
    font-size: 126px;
    font-weight: 400;
    line-height: 145px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
  }

  &__player-price {
    margin: 0;

    color: #2d2c8b;

    font-family: "Druk Text Cy", Helvetica, sans-serif;
    font-size: 200px;
    font-weight: 400;
    line-height: 100px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap
  }

  &__mln {
    margin: 0;

    color: #19c0f5;

    font-family: "Druk Text Cy", Helvetica, sans-serif;
    font-size: 63px;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
  }
}

//<div className={className ? `${className}__price-container` : ""}>
//<p className={className ? `${className}__euro` : ""}>{euro}</p>
//<p className={className ? `${className}__player-price` : ""}>{price}</p>
//<p className={className ? `${className}__mln` : ""}>{millions}</p>
//</div>