$priceHeight: 330px;
$aboutHeight: 60px;

.player-info {

  display: flex;
  flex-direction: column;
  white-space: normal;

  background-color: #ffffff;

  &_right-panel {
    background-color: #19c0f5;

    .player-info__name {
      color: #ffffff;
    }
  }

  &__name {
    margin: 60px 0 20px;
    padding-left: 10px;
    width: 100%;
    height: 180px;
    text-align: left;

    color: #000000;
    font-family: "Druk Text Cy", Helvetica, sans-serif;
    font-size: 85px;
    line-height: 80px;
    text-transform: uppercase;
    white-space: pre-wrap;
    letter-spacing: -3px;
  }

  &__about-container {
    display: inline-block;
    position: relative;
    justify-content: start;
    width: 100%;
    margin: 0;
    padding-left: 10px;
  }

  &__about {
    margin: 0 auto;
    padding-left: 10px;
    display: inline-block;

    font-size: 35px;
    line-height: $aboutHeight;
    vertical-align: bottom;
  }

  &__mark {
    padding-left: 10px;
    margin: 0;

    color: #000000;
    opacity: 0.35;

    font-family: GraphikLC, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
    text-decoration-color: rgba(0, 0, 0, 0.35);
    text-decoration-line: none;
    text-decoration-style: solid;
    white-space: normal;
  }

  &__price-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;

    margin-top: 100px;
    padding-left: 10px;
    width: 100%;
    height: $priceHeight;
  }

  &__euro {
    margin: 0 0 0 5px;

    color: #19c0f5;

    font-family: PUNCTUATION, Helvetica, sans-serif;
    font-size: 150px;
    font-weight: 400;
    height: min-content;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: $priceHeight;
  }

  &__player-price {
    margin: 0 5px;
    display: inline;

    color: #2d2c8b;

    font-family: "Druk Text Cy", Helvetica, sans-serif;
    font-size: 300px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: $priceHeight;
    letter-spacing: -20px;
  }

  &__mln {
    margin: 0 0 0 5px;

    color: #19c0f5;

    font-family: "Druk Text Cy", Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 400;
    text-transform: uppercase;
    height: min-content;
    white-space: nowrap;
    line-height: $priceHeight;
    letter-spacing: -3px;
  }

  &__question {
    position: relative;
    width: min-content;
    height: min-content;

    bottom: 150px;
    right: -450px;

    font-family: Druk Text Cy,Helvetica,sans-serif;
    font-size: 300px;
    color: rgba(243,246,247,0.63473);
    text-shadow: 0 0 12px hsl(0deg 0% 100% / 9%);
    pointer-events: none;
  }
}

//<div className={className ? `${className}__price-container` : ""}>
//<p className={className ? `${className}__euro` : ""}>{euro}</p>
//<p className={className ? `${className}__player-price` : ""}>{price}</p>
//<p className={className ? `${className}__mln` : ""}>{millions}</p>
//</div>