.controls {

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 100px;
  }

  &__button {
    width: 170px;
    height: auto;
    border: none;

    background-color: #2d2c8b;

    &:hover {
      cursor: pointer;
      background-color: #0b83a3;
    }
  }

  &__button-text {
    margin: auto;

    font-family: GraphikLC, Helvetica, sans-serif;
    font-size: 30px;
    font-stretch: 100%;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
  }

  &__title {
    margin-bottom: 25px;
    margin-top: 0;
    width: 100%;

    font-family: GraphikLC, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
  }


}